[Unit]
Description=zorp
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/zorp
ExecStart=/usr/lib/zorp/zorp -u root -g root -a zorp_uProxy -p /etc/zorp/policy_uProxy.py -l

[Install]
WantedBy=multi-user.target
